*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

.idea/

.idea/instapk.xml
instapk.log*
profiles_settings.xml
Project_Default.xml
modules.xml
misc.xml

